.container {
     display: flex;
     flex-direction: column;
     gap: 20px;
     align-items: center;
}

.primary {
     font-size: 40px;
     font-weight: 700;
}

.secondary {
     font-size: 30px;
     font-weight: 700;
}